
{%extends 'paneladmin/bases/base.html' %}
{% load static %}
{% load widget_tweaks %}
 {% load crispy_forms_tags %}
{% load bootstrap4 %}

                     {% block main %} 
<div class="card text-white bg-warning mb-3">
    <div class="card-header text-center">Cadastro de Usúario envido por email</div>
    <div class="card bg-light  ">
        <div class="card-body text-secondary text-center">

            <p>Email enviado . </p>

        </div>
    </div>
</div>
                    {% endblock %}

                    