
{%extends 'paneladmin/bases/base.html' %}
{% load static %}
{% load widget_tweaks %}
 {% load crispy_forms_tags %}
{% load bootstrap4 %}

                    {% block rightcol %} 
                    {% include 'paneladmin/bases/menuleft.html' %}
                    {% endblock %}

                     {% block main %} 
                     
     <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-md-24 mb-16">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Cadastrar Pedido</h6>
                  
                </div>
                <!-- Card Body -->
                <div class="card-body">
                 <form class="exampleone" action="{%  url 'paneladmin_register_images'  %}" method="POST"  id="form" name="form" novalidate>
                {% csrf_token %}
                 <br>
                 
                <div class="form-row">
                <div class="form-group col-md-2">
                             {{ form.name| as_crispy_field }}
                             </div>
                             <div class="form-group col-md-2">
                             {{ form.client| as_crispy_field }}
                             </div>
                             <div class="form-group col-md-2">
                             {{ form.number| as_crispy_field }}
                             </div>
                             <div class="form-group col-md-3">
                             {{ form.pictures| as_crispy_field }}
                             </div>
                              <div class="form-group col-md-3">
                               {{ form.price| as_crispy_field }}
                             </div>
                             </div>
                             <div class="form-row">
                <div class="form-group col-md-2">
                             {{ form.checkin| as_crispy_field }}
                             </div>
                               <div class="form-group col-md-2">
                             {{ form.deadline| as_crispy_field }}
                             </div>
                               <div class="form-group col-md-2">
                             {{ form.checkout| as_crispy_field }}
                             </div>
                               <div class="form-group col-md-2">
                             {{ form.app| as_crispy_field }}
                             </div>
                             <div class="form-group col-md-4">
                             {{ form.link| as_crispy_field }}
                             </div>
                             </div>
                            
                              <div class="form-row">
                <div class="form-group col-md-12">
                             {{ form.info| as_crispy_field }}
                              <span id="chars">255</span> caracteres restantes
                             </div>
                             </div>
                             
                             
                                                       <button type="submit" id="validator" class="btn btn-primary btn-block">Cadastrar</button>

            </form>

                </div>
              </div>
            </div>
            </div>



                     
<script src="{% static 'js/mask.js' %}"></script>

<script src="{% static 'js/255words.js' %}"></script>
                    {% endblock %}

                            
{% block footer %} 
                   {% include 'paneladmin/bases/menufooter.html' %}
                    {% endblock %}

                    